<div class="content container-fluid animated">

    <div class="row pb-2 pt-2 pl-2 mt-2 mb-2 bg-info rounded">Todo bewerken</div>

    <form id="languageForm" action="{{ formUrl }}">

        <div class="d-flex pb-2">
            <div class="col-1 pl-0">Categorie</div>
            <div class="col-2 pl-0">{{ form_widget(form.category) }}</div>
        </div>

        <div class="d-flex pb-2">
            <div class="col-1 pl-0">Todo</div>
            <div class="col-2 pl-0">{{ form_widget(form.name) }}</div>
        </div>

        <div class="d-flex pb-2">
            <div class="col-1 pl-0">Deadline</div>
            <div class="col-2 pl-0">
                <div class='input-group date datetimepicker'>
                    {{ form_widget(form.deadline) }}
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>

        <div class="d-flex pb-2">
            <div class="col-1 pl-0">Gedaan</div>
            <div class="col-2 pl-0">{{ form_widget(form.status) }}</div>
        </div>

        <div class="d-flex pb-2 ">
            <div class="col-1 pl-0"></div>
            <div class="col-1 pl-0 ">
            </div>
            <div class="col-2 pl-0">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#removeTodoModal">
                    <i class="fa fa-trash"></i>
                </button>
                {{ form_widget(form.submit) }}
            </div>
        </div>

        <div class="invisible">{{ form_rest(form) }}</div>

    </form>

</div>


<!-- Modal -->
<div class="modal" id="removeTodoModal" tabindex="-1" role="dialog"
     aria-labelledby="removeTodoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeTodoModalLabel">Verwijderen todo</h5>
            </div>
            <div class="modal-body">
                Todo permanent verwijderen ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nee</button>
                <button id="removeTodo"
                        data-category=" {{ form.vars.value.category.id }}"
                        data-id=" {{ form.vars.value.id }}"
                        type="button"
                        class="btn btn-primary">Ja
                </button>
            </div>
        </div>
    </div>
</div>