{% set values =  collection.vars.value %}

<div class="d-flex pb-1 item {{ mySubCollectionId }}-collection-item">

    {% if values %}

        {% set done = '' %}

        {% if values.status %}
            {% set done = 'strikethrough' %}
        {% elseif values.deadline and date(values.deadline) < date() %}
            {% set done = 'red' %}
        {% endif %}

        <div class="col-3 {{ done }}">{{ values.name }}</div>
        <div class="col-2 {{ done }}">{{ values.deadline|format('d-m-Y H:i') }}</div>
        <div class="col-1">{{ form_widget(collection.status) }}</div>
        <div class="col-1">
            <button type="button"
                    class="btn url btn-outline-primary"
                    data-url="{{ url('base_todolist_edit', {'category': categoryId, 'id': values.id}) }}"
                    title="todo bewerken"
            >
                <i class="fa fa-edit"></i>
            </button>
        </div>

    {% else %}

        <div class="col-2">{{ form_widget(collection.category) }}</div>
        <div class="col-3 pl-5">{{ form_widget(collection.name) }}</div>
        <div class="col-2">
            <div class='input-group date datetimepicker'>
                {{ form_widget(collection.deadline) }}
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-outline-primary remove-collection-item" title="todo verwijderen">
                <i class="fa fa-minus"></i>
            </button>
        </div>

    {% endif %}

</div>







